body {
    font: normal 16px Arial;
    background-color: rgb(195, 16, 255);
    color: white;
}

h1 {
    margin: 100px 20px;
    color: white;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 10px 10px 10px black;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    text-shadow:10px 10px 10px black;
}