* {
    margin: 0;
    padding: 0;
}
body {
    padding: 20px;
    background-color: #002333;
    color: rgba(255, 255, 255, 0.795);
    font-family: 'Arial', sans-serif;
    text-align: justify;
}

h1{
    text-align: center;
    margin: 100px;
    font-size: 50px;
    text-shadow: 10px 20px 30px black;
}

h2 {
    margin: 30px;
    text-align: center;
    font-weight: 600;
    text-shadow: 10px 10px 10px black;
}

